* {
    box-sizing: border-box;

}

body {
    margin: 0;
    background-color: rgb(106, 99, 86);
}

.cabecera {
    left: 0;
    top: 0;
    background-color: #282b30;
    padding: .1px;
    padding-left: 11%;
    max-height: 40px;

}


.cabecera a {
    color: darkkhaki;
    padding: .4rem;
    text-decoration: none;
    font-size: 5vw;

}

.cabecera nav li:hover {
    background-color: rgb(53, 55, 54);
    transition: all 0.8s linear;
}

.menu_nav {
    display: flex;
    text-decoration: none;
    padding-block: 1;
}

.menu_nav ul li {
    display: inline-block;
    text-shadow: none;
    font-size: .2rem;
    /*align-items: center;*/
}

.menu_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    position: relative;
}

.menu_nav li a {
    display: block;
    padding: 5px;
    font-size: 1vw;

}

.icono {
    display: flex;
    padding-left: 15px;
    padding-top: 11px;
}

.icono img {
    width: 4vw;
    height: 4vw;
}

.icono_2 {
    display: flex;
    padding-right: 2px;
    padding-top: 11px;
}

.icono_2 img {
    width: 4vw;
    height: 4vw
}

.logo p {
    font-size: 1.5vw;
    padding-left: 50px;
}

.contenedor div {
    background-color: rgb(106, 99, 86);
    padding: 1em;
}

.contenedor div:hover {
    border: 3px solid rgb(246, 244, 244);
    background-color: rgb(53, 55, 54);
    transition: all 0.7s linear;
    border-radius: 5px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5vw;
}

.item1 p {
    padding: 3vw;
    gap: 0;
    color: darkkhaki;


}

.foto {
    padding-left: 10px;
    width: 90%;
    position: relative;
    object-fit: cover;

}


.piedepagina{

    display: inline-block;
    background-color: #282b30;
    font-size: 1.5vw;
    height: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: darkkhaki;

}

.piedepagina p:hover {
    border: 1px solid rgb(244, 5, 5);
    background-color: rgb(21, 26, 23);
    transition: all 0.5s linear;

}



@media screen and (max-width:400px){
